$cm-primary: #034262;
$cm-secondary: #186D96;
$cm-pin: #346994;
$cm-vdgrey: #333333;
$cm-dgrey: #747678;
$cm-dmgrey: #999999;
$cm-mgrey: #EAEAEA;
$cm-lgrey: #F9F9F9;
$cm-lgrey2: #F0F0F0;
$cm-white: #FFFFFF;
$cm-black: #000000;
$cm-lblue: #B3E5FC;
$cm-mblue: #03A9F4;
$cm-yellow: #F3E500;
$cm-mred: #DB3236;
$cm-morange: #FC9527;
$cm-dorange: #C66A00;
$cm-mgreen: #00AD4B;
$cm-green: #38D871;
$cm-warning: #FFD845;
$cm-error: #CF0015;
